# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
/dist
/build

# Coverage directory used by tools like istanbul
/coverage
